.list1 {
  list-style-type: none;
  display: flex;
}
.list1 a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
}
.autonav:hover{
color:red;
}

@media (max-width: 799px) {
  .list1 {
    display: none;
  }
}
.icon {
  color: black;
}
.icon i:hover {
  color: red;
}
li:hover {
  color: red;
}
.texts{
  display: flex;
  flex-direction: column;
float:right;
  }
.textss{
  display: flex;
  flex-direction: column;
float:left;
  }
.text3{
  color:red;
  font-family: cursive;
}
.buttn{
  border:none;
  background-color: #000;
  color:white;
  width:30vh;
  height:8vh;
  float: right;
}
.buttn:hover{
  border:1px solid #000;
  background-color: transparent;
  color:#000;
  width:30vh;
  height:8vh;
  float: right;
}
.picon{
  height:50vh;
}
.img12{
  height:300px;
 /*  position: absolute; */
  background-image: url("IMG/man.webp");
 /*  background-size: cover;
  background-position: center; */
  
}
.img12 h2{
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}
.acc{
  height:300px;
 /*  position: absolute; */
  background-image: url("IMG/bg7.jpg");
  background-size: cover;
  background-position: center;
}
.style{
  height:300px;
 /*  position: absolute; */
  background-image: url("IMG/style.webp");
  /* background-size: cover;
  background-position: center; */
}
.col1{
  padding: 10px 12px;

  border: 1px solid #cce7d0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  position: relative;
}
.cart{
  width: 40px;
  height: 40px;
  padding:10px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #1a1a1a;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.star{
  color: rgb(243, 181, 25);
  font-size: 12px;
}
.col2 img{
height:283px;
}
.imggcar{
  height: 50vh;
}
.carous{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.extras{
  text-align: center;
}
.readmore{
  color:black;
font-weight: 650;

}
ul{
  list-style-type: none;
}
.readmore1{
font-weight: 650;
list-style-type: none;
text-decoration: none;

}
.readmore{
  color:black;
font-weight: 650;

}
.copy{
  text-align: center;
}
@keyframes example {
  /* from {font-size: 14px;} */
  to {font-size:17px;}
}
.readmore:hover{
  color:black;
  animation-name: example;
animation-duration: 1s;
}
.fe-box {
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  background-color: rgba(253, 253, 165, 0.548);
}

  .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.747);
    background-color: rgb(245, 245, 187);
    background-color: rgb(188, 214, 231);
  }

  .news-btn{
    border: none;
  color:white;
  
    background-color: rgb(241, 35, 35);
  }
  .login{
    background-color: white;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    height:100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  
}
.pass{
  float: right;
}
.sectbg{
  background-image: url("img/abstract.jpg");
  height:25vh;

}
.flex1{
  display: flex;
  align-items: center;
  justify-content:center;
}
.blr{
  text-decoration: none;
  color:rgba(0, 0, 0, 0.719);
}
.contain{
  background-color: rgba(255, 0, 0, 0.774);
  height:70vh;
  margin-top: 7vh;
}
.holy{
  font-size: 70px;
}
.khaki{
  font-size: 27px;
}
.addbtn{
  border:none;
  border-radius: 20px;
}
.imgstar{
  height:70vh;
  width:50vw;
  position: relative;
}

.search-col{
  display: flex;
  align-items: center;
  justify-content: center;
}
.redbox{
  height:17vh;
  width:15vh;
  position: absolute;
  background-color: rgba(255, 8, 0, 0.808);
  bottom: 2px;
  left:10%;
  border-radius: 10px;
  
  
  
}
.collor{
  background-color: rgb(255, 240, 240);
  height:100vh;
} 
.flexx{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pro{
  background-color: white;
  border: 1px solid rgba(27, 25, 25, 0.178);
  width:5vw;
  height: 4vh;
}
.pro3{
  background-color: white;
  border: 1px solid rgba(27, 25, 25, 0.178);
  width:7vw;
  height: 4vh;
}













